# Requirements.txt
fastapi==0.110.1
ipykernel==6.22.0
jupyter-bokeh==2.0.2
jupyterlab==4.2.0b1
langchain
openai==0.27.6
pandas==2.0.1
sqlalchemy-orm==1.2.10
sqlalchemy==2.0.15
streamlit
uvicorn<0.22.0,>=0.21.1
pydantic~=2.7.0